body {
  font-family: "Poppins", sans-serif;
  background: #272044;
}

.container {
  max-width: 1590px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 6px;
}

.img-responsive {
  max-width: 100%;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/BTSProofGroup.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1.5;
    margin: 30px 0;
  }

header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 2;
  }

header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 4;
    letter-spacing: 10px;
    margin: 0;
  }

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: white;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 34px;
  background:#221072;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-top: 34px;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main img {
  max-height: 825px;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

main a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: white;
  padding: 16px 32px;
  margin-top: 8px;
  margin-bottom: 34px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 34px;
  background:#3c24a5;
;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/yettotcome.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  section {
    padding: 30px;
  }
  main p {
    font-size: 14px;
  }

  footer h3 {
    font-size: 18px;
  }

  footer p {
    font-size: 12px;
  }

  footer a{
    font-size: 12px;
  }
}

@media (max-width: 510px) {
  header {
    padding: 50px 0;
    background-size: contain;
  }

  header h1 {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 6px;
  }

  header h2 {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 6px;
  }

  header h3 {
    font-size: 12px;
    line-height: 1;
  }
  header a {
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 2px;
  }
}